In [ ]:
from dateutil import parser
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [2]:
start_user= set ()

# get pre 2002 users
# datatrimmed.txt = user >= 100 ratings
# get users
with open("dataTrimmed.txt") as infile:
    for line in infile:
        data = line.strip().split(',')
        if len(data) > 2:
            user =data[0]
            start_user.add(user)

In [3]:
start_date = date(1999, 11, 11) 
end_date = date(2005, 12, 31)    

delta = end_date - start_date  

days =[]
# get days
for i in range(delta.days + 1):
    day = start_date + timedelta(days=i)
    days.append(str(day))

In [4]:
init_user = list(start_user)
print(len(init_user))

236117

In [10]:
userTime = pd.DataFrame(0, index=init_user, columns=days)
# create user-time matrix

In [6]:
display(userTime)

,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,1999-11-20,...,2005-12-22,2005-12-23,2005-12-24,2005-12-25,2005-12-26,2005-12-27,2005-12-28,2005-12-29,2005-12-30,2005-12-31
1690399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
870954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1373041,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1883946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2078004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2224414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2296219,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1063535,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
647126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796288,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
user_time={}
for users in start_user:
    user_time[users]=[]
# grab user and dates they rated

In [8]:
with open("dataTrimmed.txt") as infile:
    for line in infile:
        data = line.strip().split(',')
        if len(data) > 2:
            user =data[0]
            if user in start_user:
                user_time[user].append(data[2])

In [11]:
# fill in the matrix cells
for user, times in user_time.items():
    for dates in times:
        userTime.at[user,dates] +=1
        # if userTime.at[user,dates] == 1:
        #     userTime.at[user,dates] +=1
        # else:
        #     userTime.at[user,dates] = 1

In [12]:
display(userTime)

,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,1999-11-20,...,2005-12-22,2005-12-23,2005-12-24,2005-12-25,2005-12-26,2005-12-27,2005-12-28,2005-12-29,2005-12-30,2005-12-31
1690399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
870954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,60,0,0
1373041,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
1883946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2078004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2224414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
2296219,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1063535,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
647126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6,0,0
796288,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
pre2002 = userTime.iloc[:, 0:782 :1]
startingUsers = []
notStartingUsers =[]
for index, row in pre2002.iterrows():
    res = np.sum(row)
    if res>0:
        startingUsers.append(index)
    else:
        notStartingUsers.append(index)
        
# find all users registered before 2002 i.e. have at least 1 rating

In [72]:
initialSplice = userTime.copy()
initialSplice = initialSplice.drop(notStartingUsers)
display(initialSplice)

,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,1999-11-20,...,2005-12-22,2005-12-23,2005-12-24,2005-12-25,2005-12-26,2005-12-27,2005-12-28,2005-12-29,2005-12-30,2005-12-31
1600592,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2099013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
572738,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1937631,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
279944,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554027,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1874432,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1813076,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1715843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2224414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12

In [75]:
active2005 = initialSplice.iloc[:, 1878:2243  :1]
activeUser = []
notActiveUser =[]

for index, row in active2005.iterrows():
    res = np.sum(row)
    if res>0:
        activeUser.append(index)
    else:
        notActiveUser.append(index)
# find all users who have at least 1 rating in 2005

In [76]:
startingSplice = initialSplice.copy()
startingSplice = startingSplice.drop(notActiveUser)

In [77]:
display(startingSplice)

,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,1999-11-20,...,2005-12-22,2005-12-23,2005-12-24,2005-12-25,2005-12-26,2005-12-27,2005-12-28,2005-12-29,2005-12-30,2005-12-31
1600592,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2099013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
572738,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1937631,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
279944,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554027,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1874432,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1813076,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1715843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2224414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12

In [78]:
filterUser = list(startingSplice.index)
print(len(filterUser))

14840

In [79]:
def helper(matrix):
    toss = []
    for index, row in matrix.iterrows():
        res = np.sum(row[1:])
        if res<15:
            toss.append(index)
    return toss

In [80]:
display(startingSplice)

,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,1999-11-20,...,2005-12-22,2005-12-23,2005-12-24,2005-12-25,2005-12-26,2005-12-27,2005-12-28,2005-12-29,2005-12-30,2005-12-31
1600592,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2099013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
572738,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1937631,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
279944,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554027,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1874432,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1813076,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1715843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2224414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12

Sliding window

In [119]:
chunks = {
    0: (782, 1147),
    1: (872, 1237),
    2: (963, 1328),
    3: (1055, 1420),
    4: (1147, 1512),
    5: (1237, 1603),
    6: (1328, 1694),
    7: (1420, 1786),
    8: (1512, 1878),
    9: (1603, 1968),
    10: (1694, 2059),
    11: (1786, 2151),
    12: (1878, 2243),
}

In [123]:
gran = 91
toss = set()
for i in range(0,13):
    start = chunks[i][0]
    end = chunks[i][1]
    splice = startingSplice.iloc[:, start:end :1]
    res = helper(splice)
    for i in res:
        toss.add(i)
    print(start,end,len(startingSplice)-len(toss))

782 1147 11209
872 1237 10460
963 1328 9851
1055 1420 9410
1147 1512 9077
1237 1603 8867
1328 1694 8730
1420 1786 8634
1512 1878 8559
1603 1968 8480
1694 2059 8294
1786 2151 7974
1878 2243 7558

365 Chunks

In [125]:

toss = set()
for i in range(0,4):
    start = 783 +(365 * i)
    end = 1148 +(365 * i)

    splice = startingSplice.iloc[:, start:end :1]
    res = helper(splice)
    for i in res:
        toss.add(i)
    print(start,end,len(startingSplice)-len(toss))

783 1148 11196
1148 1513 9820
1513 1878 9512
1878 2243 8388